.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  height: 80%;

  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.content .card {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.content .card div {
  width: 200px;
  height: 100px;
  background-color: white;
  margin: 20px;
}

.content .tache {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 200px;
  background-color: white;
}

.content .card-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content .card-right div {
  width: 200px;
  height: 300px;
  background-color: white;
}
