.container-nav-left {
  position: fixed;
  width: fit-content;
  min-height: 100vh;
  background-color: var(--bg-couleur-spe);
  border: 1px solid var(--border-couleur);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-logo {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin: 0.5rem;
  object-fit: contain;
}

.container-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-text {
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
}

.title-text .main-title {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  color: var(--text-couleur);
}

.subtitle {
  color: var(--subtitle-couleur);
}

.title-text .subtitle {
  font-size: 0.7rem;
  color: var(--subtitle-couleur);
  white-space: nowrap;
}

.container-nav-left ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  color: var(--text-muted-couleur);
}

.container-nav-left ul li {
  margin: 0.65rem;
  cursor: pointer;
}

.container-nav-left ul li:hover {
  color: var(--text-couleur);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.container-nav-left li {
  display: flex;
}

.container-nav-left ul li i {
  padding-right: 10px;
}

.nav-login {
  height: 80px;
  border-top: solid 1px var(--border-couleur);

  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  justify-content: center;
}

.nav-login > * {
  margin: 5px;
}

.nav-login img {
  border-radius: 50%;
  height: 50px;
}

.nav-login > * > .subtitle {
  font-size: 0.8rem;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  li > p {
    display: none;
  }

  .nav-login > * > p {
    display: none;
  }

  .nav-login > i {
    display: none;
  }

  .container-nav-left {
    padding: 0;
  }

  .subtitle {
    display: none;
  }

  .main-title > span {
    display: none;
  }
}
