.container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border: 1px solid var(--border-couleur);
  background-color: var(--bg-couleur-spe);
}

.container-top h2 {
  color: var(--text-couleur);
  font-size: 1.2rem;
}
.container-top p {
  color: var(--text-couleur);
  font-size: 0.8rem;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  color: var(--text-muted-couleur);
  cursor: pointer;
}