* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-couleur: #fff;
  --bg-couleur-spe: #f1efef;
  --radius: 0.75rem;
  --gap: 1.5rem;
}

body {
  font-family: "Arimo", sans-serif;
  background-color: var(--bg-couleur-spe);
  min-height: 100vh;
}
