.top-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.top-box > div {
  flex: 1 1 300px;
  min-height: 170px;

  padding: 20px;

  border-radius: var(--radius);
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);

  transition: transform .2s ease, box-shadow .2s ease;
}

.top-box > div:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.main-box {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.task-date {
  width: fit-content;
  padding: 6px 10px;
  font-size: 10px;

  border: 1px solid var(--border-couleur);
  border-radius: var(--radius);
}

.tag {
  display: flex;
  gap: 6px;
  font-size: 10px;
}

.tag > li {
  padding: 4px 8px;
  border-radius: var(--radius);
}

.tag > li:nth-child(1) {
  background: #5d1f1a73;
  color: #FD9891;
}

.tag > li:nth-child(2) {
  background: #28311b6e;
  color: #BDE97C;
}

.event-box {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-box > div {
  min-height: 260px;

  padding: 15px;
  border-radius: var(--radius);

  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

.event-list {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.event-list > p:nth-child(1) {
  background: #5D1F1A;
  color: #F87168;
  border-radius: var(--radius);
  padding: 8px 12px;
  margin-right: 12px;
}

@media (max-width: 970px) {

  .top-box {
    justify-content: center;
  }

  .top-box > div {
    flex: 1 1 45%;
  }

  .main-box {
    flex-direction: column;
  }

  .event-box {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .event-box > div {
    flex: 1 1 45%;
  }

}

